@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font: 'Outfit', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--slate-300);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.qr-card {
  max-width: 320px;
  background: var(--white);
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 0px 10px 25px -3px hsl(216, 25%, 69%, 0.3);
}

.qr-card-img {
  max-width: 100%;
  border-radius: 0.75rem;
}

.qr-card-body {
  padding: 0 1rem;
}

.qr-card-title {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: var(--slate-900);
}

.qr-card-description {
  text-align: center;
  color: var(--slate-500);
}
