@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font: 'Outfit', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--slate-500);
  background-color: var(--slate-300);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.qr-card {
  max-width: 320px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 25px -5px;
  box-shadow: 0px 12px 30px hsl(212, 25%, 49%, 0.2);
}

.qr-card-code {
  display: block;
  max-width: 100%;
  border-radius: 0.5rem;
}

.qr-card-body {
  padding: 1.25rem 0.75rem;
  text-align: center;
}

.qr-card-title {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: var(--slate-900);
  line-height: 1.2;
}

.qr-card-description {
  font-size: 0.9375rem;
}
